* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  min-height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.todoContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #24C6DC;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #1194a5;
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  background: linear-gradient(to right, #24C6DC 0%, #67edff  51%, #24C6DC  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.groupForm {
  margin-bottom: 40px;
}

.todoInput, .groupInput {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.todoInput:hover, .groupInput:hover {
  background-color: #f2f2f2;
}

.todoInput:focus, .groupInput:focus {
  outline: none;
  border: 3px solid #24C6DC;
}

.todoButton, .groupButton {
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
  transition: 0.5s;               
  border-radius: 10px;
  border: 1px solid #314755;
}

.todoButton:hover, .groupButton:hover {
  background-position: right center;
  text-decoration: none; 
  cursor: pointer;
}

.todoGroups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px
}

.todoGroups select {
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.listGroup, .listTask {
  list-style-type: none;
  width: 100%;
  margin: 20px 0;
}

.listGroup > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #24C6DC;
  padding: 12px 16px;
  margin: 20px 0;
  border-radius: 10px;    
}

.listTask > li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #24C6DC;
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 10px;    
}

.listTask > li div {
  display: flex;
  gap: 8px;   
}

.deleteTaskButton{
  background: none;
  border: none;
  color: #fb7185;
  cursor: pointer;
  transition: 0.5s;
}

.deleteTaskButton:hover {
  color: #e11d48;
}

input[type="checkbox"] {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}

input[type="checkbox"]:hover {
  box-shadow: 0px 0px 4px #24C6DC;
}

.styleComplete {
  -webkit-text-decoration: line-through;
          -webkit-text-decoration: line-through;
                  text-decoration: line-through;
  color: #bbbbbb;
}

.checkAllTasksContainer {
  margin: 32px 16px 16px;
  display: flex;
  gap: 8px
}

.draggedItemStyle {
  opacity: 50%;
  background-color: #24C6DC;
}
